<form [formGroup]="form" (ngSubmit)="submitForm()">
  <h2 class="card-title">Вход в систему</h2>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label class="col-form-label">Логин</label>
    </div>

    <div class="col-md-6 col-sm-12">
      <!-- здесь будут сообщения от валидатора -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="input-group">
        <input id="login" type="text" formControlName="login" />
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <!-- здесь будут подсказки -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label class="col-form-label">Пароль</label>
    </div>

    <div class="col-md-6 col-sm-12">
      <!-- здесь будут сообщения от валидатора -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="input-group">
        <input id="password" type="password" formControlName="password" />
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <!-- здесь будут подсказки -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <button type="submit">Войти</button>
    </div>
  </div>
</form>
