<div class="container-fluid h-100 d-flex align-items-center auth-background">
  <div class="card w-50 mx-auto">
    <form [formGroup]="form" (ngSubmit)="submitForm()" [appMustMatch]="['password', 'password_copy']">
      <div class="card-header">
        <h2>Регистрация пользователя</h2>
      </div>

      <div class="card-body" *ngIf="captcha === ''">
        <div class="row">
          <div class="col-xl-4 col-lg-12">
            <p>А не робот ли Вы?</p>
          </div>
          <div class="col-xl-8 col-lg-12">
            <re-captcha (resolved)="resolved($event!)" (errored)="errored()"></re-captcha>
          </div>
        </div>
      </div>

      <div class="card-body" *ngIf="captcha !== ''">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label for="login" class="col-form-label">Логин</label>
          </div>

          <div class="col-md-6 col-sm-12">
            <span class="spinner-border text-primary" *ngIf="isLoading"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="input-group">
              <input id="login" type="text" formControlName="login" class="w-100"
                     [readOnly]="isLoading" [ngClass]="{'border-danger': wasSubmitPressed && txtLogin.errors}" />
            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <p *ngIf="wasSubmitPressed && txtLogin.errors && txtLogin.errors['required']" class="text-danger">
              Обязательное поле
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label for="email" class="col-form-label">Адрес электронной почты</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="input-group">
              <input id="email" type="email" formControlName="email" class="w-100"
                     [readOnly]="isLoading" [ngClass]="{'border-danger': wasSubmitPressed && txtEmail.errors}" />
            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <p *ngIf="wasSubmitPressed && txtEmail.errors && txtEmail.errors['required']" class="text-danger">
              Обязательное поле
            </p>
            <p *ngIf="wasSubmitPressed && txtEmail.errors && txtEmail.errors['email']" class="text-danger">
              Неверный формат e-mail
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label for="username" class="col-form-label">Экранное имя</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="input-group">
              <input id="username" type="text" formControlName="username" class="w-100"
                     [readOnly]="isLoading" [ngClass]="{'border-danger': wasSubmitPressed && txtName.errors}" />
            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <p *ngIf="wasSubmitPressed && txtName.errors && txtName.errors['required']" class="text-danger">
              Обязательное поле
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label for="password" class="col-form-label">Пароль</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="input-group">
              <input id="password" type="password" formControlName="password" class="w-100"
                     [readOnly]="isLoading" [ngClass]="{'border-danger': wasSubmitPressed && txtPassword.errors}" />
            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <p *ngIf="wasSubmitPressed && txtPassword.errors && txtPassword.errors['required']" class="text-danger">
              Обязательное поле
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label for="password" class="col-form-label">Введите пароль ещё раз</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="input-group">
              <input id="password_copy" type="password" formControlName="password_copy" class="w-100"
                     [readOnly]="isLoading" [ngClass]="{'border-danger': wasSubmitPressed && txtPasswordCopy.errors}" />
            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <p *ngIf="txtPasswordCopy.errors && txtPasswordCopy.errors['mustMatch']" class="text-danger">
              Пароли должны совпадать
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 pt-3">
            <button type="submit" class="btn btn-outline-primary" [disabled]="isLoading">Зарегистрироваться</button>
          </div>

          <div class="col-md-6 col-sm-12">
            <p class="text-danger">{{controllerMessage}}</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
