<mat-drawer-container class="container-fluid h-100 d-flex align-items-center">
  <mat-drawer #drawer class="cat-drawer" [mode]="catsMode"  [opened]="catsOpened" >
    <app-categories-logo (addCategoryEvent)="addCategory($event)"></app-categories-logo>
    <app-categories-list
      [categories]="categories"
      [search]="categoriesFilter"
      [selectedCategory]="selectedCategory"
      (editCategoryEvent)="editCategory($event)"
      (deleteCategoryEvent)="deleteCategory($event)"
      (searchCategoriesEvent)="searchCategories($event)"
    >
    </app-categories-list>
  </mat-drawer>
  <mat-drawer-content>
    <h6>
      <button mat-raised-button (click)="drawer.toggle()">&equiv;</button>
      &nbsp;{{'Main.Title' | translate}} - {{currentUser === null ? '' : currentUser.name}}
    </h6>
  </mat-drawer-content>
</mat-drawer-container>
