<a class="nav-link"
   (click)="selectCategory()"
>
  <div class="container no-hor-padding border-box">
    <div class="row no-hor-margin border-box"
         style="height: 32px;"
         (mouseenter)="onMouseEnter()"
         (mouseleave)="onMouseLeave()"
    >
      <div class="col-1 no-hor-padding">
        <img class="category-icon img-fluid" src="{{iconUrl}}" alt="" *ngIf="category.hasIcon">
      </div>
      <div class="col-8 no-hor-padding">
            <span class="category-name">
              {{category.name}}
            </span>
      </div>
      <div class="col-1 no-hor-padding">
            <span class="category-count">
              {{category.nincomplete || 0}}
            </span>
      </div>
      <div class="col-1 no-hor-padding">
            <span class="category-button">
              <mat-icon
                class="category-button"
                *ngIf="showButtons"
                (click)="$event.stopPropagation(); editCategory()"
              >edit</mat-icon>
            </span>
      </div>
      <div class="col-1 no-hor-padding">
            <span class="category-button">
              <mat-icon
                class="category-button"
                *ngIf="showButtons"
                (click)="$event.stopPropagation(); deleteCategory()"
              >delete</mat-icon>
            </span>
      </div>
    </div>
  </div>
</a>
