span img {
  vertical-align: middle;
}

.border-box {
  box-sizing: border-box;
}

.no-hor-margin {
  margin-left: 0;
  margin-right: 0;
}

.no-hor-padding {
  padding-left: 0;
  padding-right: 0;
}

.category-name {
  padding: 5px;
  display: inline-block;
  font-size: 16px;
}

.category-button:hover {
  border: solid 1px;
}

span.category-button {
  display: inline-block;
  align-items: center;
  font-size: 13px;
  text-align: center;
  overflow: hidden;
}

.category-count {
  display: inline-block;
  padding: 3px;
  background-color: lightgoldenrodyellow;
  border-radius: 3px;
  text-align: center;
}
