<mat-dialog-content>
  <div class="container full-width">
    <div class="row full-width no-padding">
      <div class="col-8">
        <span
          [style.background-color]="data.backcolor"
          [style.color]="data.forecolor"
        >
          {{data.name}}
        </span>
      </div>
      <div class="col-2 no-padding">
        <div class="full-width no-padding no-margin" style="height: 100%; border: solid 1px black;"
              [(colorPicker)]="data.backcolor"
              [style.background-color]="data.backcolor"
        >
        </div>
      </div>
      <div class="col-2 no-padding">
        <div class="full-width no-padding no-margin" style="height: 100%; border: solid 1px black;"
              [(colorPicker)]="data.forecolor"
              [style.background-color]="data.forecolor"
        >
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="dlg-buttons-footer">
    <button style="margin: 5px;"
      mat-raised-button
      color="secondary"
      (click)="cancel()"
    >
      {{'Main.Cancel' | translate}}
    </button>
    <button style="margin: 5px;"
      mat-raised-button
      color="primary"
      (click)="confirm()"
    >
      {{'Main.Save' | translate}}
    </button>
  </div>
</mat-dialog-actions>
