<div class="container-fluid h-100 d-flex align-items-center auth-background">
  <div class="card w-50 mx-auto">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="card-header">
        <h2>Сброс пароля</h2>
      </div>

      <div class="card-body" *ngIf="captcha === ''">
        <div class="row">
          <div class="col-xl-4 col-lg-12">
            <p>А не робот ли Вы?</p>
          </div>
          <div class="col-xl-8 col-lg-12">
            <re-captcha (resolved)="resolved($event)" (errored)="errored()"></re-captcha>
          </div>
        </div>
      </div>

      <div class="card-body" *ngIf="captcha !== ''">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label for="login" class="col-form-label">Логин</label>
          </div>

          <div class="col-md-6 col-sm-12">
            <span class="spinner-border text-primary" *ngIf="isLoading"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="input-group">
              <input id="login" type="text" formControlName="login" class="w-100"
                     [readOnly]="isLoading" [ngClass]="{'border-danger': wasSubmitPressed && txtLogin.errors}" />
            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <p *ngIf="wasSubmitPressed && txtLogin.errors && txtLogin.errors['required']" class="text-danger">
              Обязательное поле
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 pt-3">
            <button type="submit" class="btn btn-outline-primary" [disabled]="isLoading">Сбросить пароль</button>
          </div>

          <div class="col-md-6 col-sm-12">
            <p class="text-danger">{{controllerMessage}}</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
