<div class="container full-width no-padding">
  <div class="row full-width no-margin">
    <div class="col-2 text-left">
      <button mat-icon-button
              [disabled]="currentPage < 1"
              (click)="firstPage()"
      >
        <mat-icon>first_page</mat-icon>
      </button>
    </div>
    <div class="col-2 text-center">
      <button mat-icon-button
        [disabled]="currentPage < 1"
        (click)="prevPage()"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
    <div class="col-4 text-center">
      <div style="height: 100%; display: flex; align-items: center; border: solid 1px black">
        <div class="full-width no-padding">
          <table class="full-width no-margin no-padding">
            <colgroup>
              <col span="1" style="width: 100%;">
              <col span="1" style="white-space: nowrap;" class="center-content">
            </colgroup>
            <tbody>
            <td>
              <input type="number"
                     class="no-margin full-width"
                     id="pageSetter"
                     min="1" max="{{_totalPages}}"
                     (input)="setPage($event)"
                     [value]="currentPage + 1">
            </td>
            <td>
              <div class="center-content">
                <span>&nbsp;/&nbsp;{{_totalPages}}&nbsp;</span>
              </div>
            </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-2 text-center">
      <button mat-icon-button
        [disabled]="currentPage >= _totalPages - 1"
        (click)="nextPage()"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div class="col-2 text-right">
      <button mat-icon-button
        [disabled]="currentPage >= _totalPages - 1"
        (click)="lastPage()"
      >
        <mat-icon>last_page</mat-icon>
      </button>
    </div>
  </div>
</div>
