<mat-dialog-content>
  <p mat-dialog-title>{{'Profile.Title' | translate}}</p>
  <mat-form-field style="width: 100%;">
    <mat-label>{{'Profile.Name' | translate}}</mat-label>
    <input
      #txtName
      matInput
      style="width: 100%;"
      [(ngModel)]="data.name"
    />
  </mat-form-field>
  <div class="container">
    <div class="row no-padding">
      <div class="col-sm-6 no-padding padding-bottom-20">
        <button mat-raised-button (click)="avatarSave.click()">
          {{'Profile.ChooseAvatar' | translate}}
        </button>
        <input #avatarSave hidden type="file" [(ngModel)]="data.newIcon" (input)="onFileSelected($event)">
      </div>
      <div class="col-sm-6">
        <p>
          {{data.newIcon === null ? '' : data.newIcon.name}}
        </p>
      </div>
    </div>
    <div class="row no-padding">
      <div class="col-12 no-padding">
        <mat-slide-toggle [(ngModel)]="data.hasNullIcon" (change)="toggleNullifyIcon()">
          {{'Profile.RemoveAvatar' | translate}}
        </mat-slide-toggle>
      </div>
    </div>
  </div>
  <mat-form-field style="width: 100%;">
    <mat-label>{{'Profile.CurrentEmail' | translate}}</mat-label>
    <input
      #txtCurrentEmail
      matInput
      style="width: 100%;"
      [disabled]="data.waitingEmail"
      [(ngModel)]="data.email"
    />
  </mat-form-field>
  <mat-form-field style="width: 100%;" *ngIf="data.waitingEmail">
    <mat-label>{{'Profile.ChangedToEmail' | translate}}</mat-label>
    <input
      #txtChangedToEmail
      matInput
      style="width: 100%;"
      disabled="true"
      [(ngModel)]="data.waitingEmail"
    />
  </mat-form-field>
  <button mat-raised-button color="secondary" *ngIf="!pwdChangeAllowed" (click)="allowChangePassword()">
    {{'Profile.ChangePassword' | translate}}
  </button>
  <mat-form-field style="width: 100%;" *ngIf="pwdChangeAllowed">
    <mat-label>{{'Profile.NewPassword' | translate}}</mat-label>
    <input
      #txtNewPassword
      matInput
      type="password"
      style="width: 100%;"
      autocomplete="off"
      [(ngModel)]="pwd"
    />
  </mat-form-field>
  <mat-form-field style="width: 100%;" *ngIf="pwdChangeAllowed">
    <mat-label>{{'Profile.ReenterPassword' | translate}}</mat-label>
    <input
      #txtReenterPassword
      matInput
      type="password"
      style="width: 100%;"
      [(ngModel)]="repwd"
    />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="padding-bottom-20">
  <div class="col-12">
    <div class="button-container-right">
      <button mat-raised-button color="secondary">
        {{'Profile.CleanTaskList' | translate}}
      </button>
    </div>
    </div>
  <div class="col-12">
    <div class="button-container-right">
      <button
        mat-raised-button
        color="primary"
        [disabled]="pwdChangeAllowed && pwd != repwd"
        (click)="confirm()"
      >
        {{'Main.Save' | translate}}
      </button>
      <button
        mat-raised-button
        color="secondary"
        (click)="cancel()"
      >
        {{'Main.Cancel' | translate}}
      </button>
    </div>
    </div>
</mat-dialog-actions>
