<div class="container full-width" style="padding: 5px;">
  <div class="row full-width">
    <div class="col-12 text-center align-items-center">
      <p class="btn-link navbar-brand no-padding active-span" (click)="onToggleStat()">
        {{'Stat.ShowHide' | translate}}
      </p>
    </div>
  </div>
  <div class="row full-width animated-area" [@statArea]="animationState">
    <div class="col-sm-4">
      <app-stat-card
        [count]="completed"
        [total]="completed + uncompleted"
        icon="check_circle_outline"
        title="{{'Stat.CompletedTasks' | translate}}"
      ></app-stat-card>
    </div>
    <div class="col-sm-4">
      <app-stat-card
        [count]="uncompleted"
        [total]="completed + uncompleted"
        icon="directions_walk"
        title="{{'Stat.UncompletedTasks' | translate}}"
      ></app-stat-card>
    </div>
    <div class="col-sm-4">
      <app-stat-card
        [count]="completed > 0 ? (completed / (completed + uncompleted)) : 0"
        icon="poll"
        title="{{'Stat.CompletedPerCent' | translate}}"
      ></app-stat-card>
    </div>
  </div>
</div>
