<div class="no-padding no-margin full-width">
  <div [@taskFilterArea]="animationState" class="search-region animated-area">
    <div *ngIf="curFilter" class="container no-padding no-margin full-width">
      <div class="row">
        <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align"></div>
      </div>
      <div class="row no-padding no-margin full-width align-items-center">
        <div class="col-xl-3 col-md-6">
          <mat-form-field class="full-width">
            <mat-label>{{'Task.Name' | translate}}</mat-label>
            <input
              matInput
              [(ngModel)]="curFilter.name"
              (ngModelChange)="checkFilterChanged()"
              (keydown.escape)="$event.stopPropagation(); curFilter.name=''; checkFilterChanged()"
              (keyup.enter)="onSearch()">
            <button
              *ngIf="curFilter && curFilter.name && curFilter.name.trim().length > 0"
              class="clear-icon"
              matSuffix
              mat-icon-button
              (click)="$event.stopPropagation(); curFilter.name=''; checkFilterChanged()"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-md-6">
          <mat-form-field class="full-width">
            <mat-label>{{'Task.State' | translate}}</mat-label>
            <mat-select
              [(ngModel)]="curFilter.complete"
              (selectionChange)="checkFilterChanged()"
            >
              <mat-option [value]="null">{{'Task.All' | translate}}</mat-option>
              <mat-option [value]="true">{{'Task.States.Completed' | translate}}</mat-option>
              <mat-option [value]="false">{{'Task.States.Uncompleted' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-md-6">
          <mat-form-field class="full-width">
            <mat-label>{{'Task.Priority' | translate}}</mat-label>
            <mat-select
              [(ngModel)]="curFilter.priorityId"
              (selectionChange)="checkFilterChanged()"
            >
              <mat-option [value]="null">{{'Task.All' | translate}}</mat-option>
              <mat-option *ngFor="let priority of priorities"
                          [value]="priority.id"
              >{{priority.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-md-6">
          <mat-form-field class="full-width">
            <mat-label>{{'Task.RepeatAfterDays' | translate}}</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="curFilter.repeatAfterDays"
              (ngModelChange)="checkFilterChanged()"
              min="1" max="1000"
            >
            <button
              *ngIf="curFilter && curFilter.repeatAfterDays && curFilter.repeatAfterDays > 0"
              class="clear-icon"
              matSuffix
              mat-icon-button
              (click)="$event.stopPropagation(); curFilter.repeatAfterDays = null; checkFilterChanged()"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="row no-margin no-padding full-width align-items-center">
        <div class="col-xl-3 col-md-6">
          <mat-form-field class="full-width">
            <mat-label>{{'Task.DueDate' | translate}}</mat-label>
            <mat-date-range-input
              [rangePicker]="dueDateRangePicker"
            >
              <input
                matStartDate
                placeholder="{{'Task.DueDateFrom' | translate}}"
                (dateChange)="checkFilterChanged()"
                readonly="true"
                [(ngModel)]="curFilter.dueDateFrom"
              >
              <input
                matEndDate
                placeholder="{{'Task.DueDateTo' | translate}}"
                (dateChange)="checkFilterChanged()"
                readonly="true"
                [(ngModel)]="curFilter.dueDateTo"
              >
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="dueDateRangePicker"
              (select)="checkFilterChanged()"
            ></mat-datepicker-toggle>
            <mat-date-range-picker
              #dueDateRangePicker
              (change)="checkFilterChanged()"
            ></mat-date-range-picker>
            <button
              *ngIf="curFilter && (curFilter.dueDateFrom || curFilter.dueDateTo)"
              class="clear-icon"
              matSuffix
              mat-icon-button
              (click)="$event.stopPropagation(); clearDueDateRange(); checkFilterChanged()"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-md-6">
          <mat-form-field class="full-width">
            <mat-label>{{'Task.CreatedDate' | translate}}</mat-label>
            <mat-date-range-input
              [rangePicker]="createdRangePicker"
            >
              <input
                matStartDate
                placeholder="{{'Task.CreatedFrom' | translate}}"
                (dateChange)="checkFilterChanged()"
                readonly="true"
                [(ngModel)]="curFilter.createdFrom"
              >
              <input
                matEndDate
                placeholder="{{'Task.CreatedTo' | translate}}"
                (dateChange)="checkFilterChanged()"
                readonly="true"
                [(ngModel)]="curFilter.createdTo"
              >
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="createdRangePicker"
              (select)="checkFilterChanged()"
            ></mat-datepicker-toggle>
            <mat-date-range-picker
              #createdRangePicker
              (change)="checkFilterChanged()"
            ></mat-date-range-picker>
            <button
              *ngIf="curFilter && (curFilter.createdFrom || curFilter.createdTo)"
              class="clear-icon"
              matSuffix
              mat-icon-button
              (click)="$event.stopPropagation(); clearCreatedRange(); checkFilterChanged()"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-md-6">
          <mat-form-field class="full-width">
            <mat-label>{{'Task.Sorting' | translate}}</mat-label>
            <mat-select
              [(ngModel)]="curFilter.sortColumn"
              (selectionChange)="checkFilterChanged()"
            >
              <mat-option value="name">{{'Task.Name' | translate}}</mat-option>
              <mat-option value="complete">{{'Task.State' | translate}}</mat-option>
              <mat-option value="dueDate">{{'Task.DueDate' | translate}}</mat-option>
              <mat-option value="created">{{'Task.CreatedDate' | translate}}</mat-option>
              <mat-option value="repeatAfterDays">{{'Task.RepeatAfterDays' | translate}}</mat-option>
              <mat-option value="importance">{{'Task.Priority' | translate}}</mat-option>
              <mat-option value="categoryName">{{'Task.Category' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-md-6">
          <mat-form-field class="full-width">
            <input
              matInput
              readonly
              placeholder="{{'Task.SortDirection' | translate}}"
              (click)="$event.stopPropagation(); toggleSortDirection(); checkFilterChanged()"
            >
            <button
              matSuffix
              mat-icon-button
              value="{{'Task.SortDirection' | translate}}"
              (click)="$event.stopPropagation(); toggleSortDirection(); checkFilterChanged()"
            >
              <mat-icon>{{sortIcon}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="container no-padding no-margin full-width">
    <div class="row no-padding no-margin full-width align-items-center">
      <div class="col-md-4">
        <button
          mat-raised-button
          color="primary"
          (click)="onAdd()"
        >
          <mat-icon>add</mat-icon>
          {{'Task.CreateTitle' | translate}}
        </button>
      </div>
      <div class="col-md-4">
        <span class="active-span"
              (click)="onToggleSearch()"
        >
          {{'Task.ShowHideFilter' | translate}}
        </span>
        <button
          class="{{filterChanged ? 'blink-button' : 'no-border'}}"
          (click)="onSearch()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="col-md-4">
        <span>{{'Task.TotalTasksFound' | translate: ({count: (tasks ? tasks.totalElements : 0)})}}</span>
      </div>
    </div>
    <div class="row no-padding no-margin full-width">
      <div class="col-12 no-padding no-margin full-width">
        <div class="no-padding full-width">
          <div class="card full-width" *ngIf="tasks">
            <div class="card-body full-width">
              <div class="table-responsive full-width">
                <div class="card full-width" *ngIf="tasks.content.length === 0">
                  <h3>{{'Task.NotFound' | translate}}</h3>
                </div>
                <table *ngIf="tasks.content.length > 0"
                       style="width: 100%;"
                >
                  <colgroup>
                    <col span="1" style="width: 3rem;">
                    <col span="1">
                    <col *ngIf="!isMobile" span="1" style="width: 7rem;">
                    <col span="1" style="width: 7rem;">
                    <col *ngIf="!isMobile" span="1">
                    <col *ngIf="!isMobile" span="1">
                    <col *ngIf="!isMobile" span="1" style="width: 120px;">
                    <col *ngIf="isMobile" span="1" style="width: 40px;">
                  </colgroup>
                  <thead>
                  <caption>{{'Task.Tasks' | translate}}</caption>
                  <tr>
                    <th>#</th>
                    <th>{{'Task.Name' | translate}}</th>
                    <th *ngIf="!isMobile">{{'Task.CreatedDate' | translate}}</th>
                    <th>{{'Task.DueDate' | translate}}</th>
                    <th *ngIf="!isMobile">{{'Task.Category' | translate}}</th>
                    <th *ngIf="!isMobile">{{'Task.Priority' | translate}}</th>
                    <th><mat-icon>library_add_check</mat-icon></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let task of tasks.content; let i = index">
                    <td
                      class="text-right"
                      [style.background-color]="getPriorityBackColor(task)"
                      [style.color]="getPriorityForeColor(task)"
                      [class.strikeout]="task.complete"
                    >{{i + 1 + tasks.pageable.pageNumber * tasks.pageable.pageSize}}</td>
                    <td
                      [style.background-color]="getPriorityBackColor(task)"
                      [style.color]="getPriorityForeColor(task)"
                      [class.strikeout]="task.complete"
                    >{{task.name}}</td>
                    <td *ngIf="!isMobile"
                        class="text-center"
                        [style.background-color]="getPriorityBackColor(task)"
                        [style.color]="getPriorityForeColor(task)"
                        [class.strikeout]="task.complete"
                    >{{task.created | date: 'dd.MM.yyyy'}}</td>
                    <td
                      class="text-center"
                      [style.background-color]="getPriorityBackColor(task)"
                      [style.color]="getPriorityForeColor(task)"
                      [class.strikeout]="task.complete"
                    >{{task.dueDate | dueDatePipe}}</td>
                    <td *ngIf="!isMobile"
                        [style.background-color]="getPriorityBackColor(task)"
                        [style.color]="getPriorityForeColor(task)"
                        [class.strikeout]="task.complete"
                    >
                      <img *ngIf="task.hasCategoryIcon"
                           class="category-icon"
                           src="{{getCategoryIconUrl(task)}}"
                           alt="">
                      {{getCategoryName(task)}}
                    </td>
                    <td *ngIf="!isMobile"
                        [style.background-color]="getPriorityBackColor(task)"
                        [style.color]="getPriorityForeColor(task)"
                        [class.strikeout]="task.complete"
                    >
                      <img *ngIf="task.hasPriorityIcon"
                           class="category-icon"
                           src="{{getPriorityIconUrl(task)}}"
                           alt="">
                      {{getPriorityName(task)}}
                    </td>
                    <td
                      class="text-center"
                      [style.background-color]="getPriorityBackColor(task)"
                      [style.color]="getPriorityForeColor(task)"
                      [class.strikeout]="task.complete"
                    >
                      <mat-icon
                        (click)="$event.stopPropagation(); onEdit(task);"
                      >edit</mat-icon>
                      <mat-icon
                        (click)="$event.stopPropagation(); onDelete(task);"
                      >delete</mat-icon>
                      <mat-checkbox
                        (change)="onToggleComplete(task)"
                        [(ngModel)]="task.complete"
                      ></mat-checkbox>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <app-pagination
                  *ngIf="tasks.content.length > 0"
                  class="full-width"
                  [totalPages]="tasks.totalPages"
                  (changePageEvent)="changePage($event)"
                ></app-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
