th {
  text-align: center;
}

td {
  position: relative;
  padding: 3px;
}

td.strikeout:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid black;
  width: 100%;
}

.mat-icon {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid black;
}
