<div class="container no-padding no-margin">
  <div class="row no-padding no-margin">
    <div class="col-12 no-padding no-margin">
      <div class="no-padding" *ngIf="!isMobile">
        <div class="card" *ngIf="tasks">
          <div class="card-body">
            <div class="table-responsive">
              <div class="card" *ngIf="tasks.content.length === 0">
                <p>{{'Task.NotFound' | translate}}</p>
              </div>
              <table *ngIf="tasks.content.length > 0"
                     style="width: 100%;"
              >
                <caption>{{'Task.Tasks' | translate}}</caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{{'Task.Name' | translate}}</th>
                    <th>{{'Task.CreatedDate' | translate}}</th>
                    <th>{{'Task.DueDate' | translate}}</th>
                    <th>{{'Task.Category' | translate}}</th>
                    <th>{{'Task.Priority' | translate}}</th>
                    <th><mat-icon>library_add_check</mat-icon></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks.content; let i = index">
                    <td
                      [style.background-color]="getPriorityBackColor(task)"
                      [style.color]="getPriorityForeColor(task)"
                      [class.strikeout]="task.complete"
                    >{{i + 1 + tasks.pageable.pageNumber * tasks.pageable.pageSize}}</td>
                    <td>{{task.name}}</td>
                    <td>{{task.created | date: 'dd.MM.yyyy'}}</td>
                    <td>{{getDueDateFormat(task)}}</td>
                    <td>{{getCategoryName(task)}}</td>
                    <td>{{getPriorityName(task)}}</td>
                    <td>
                      <mat-icon>edit</mat-icon>
                      <mat-icon>delete</mat-icon>
                      <mat-checkbox></mat-checkbox>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
