th {
  text-align: center;
}

td {
  position: relative;
  padding: 3px;
}

td.strikeout:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid black;
  width: 100%;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid black;
}

.mat-icon {
  vertical-align: middle;
}

.mat-icon:hover {
  background-color: antiquewhite;
  border-radius: 12px;
  border: solid 1px darkcyan;
}

.animated-area {
  overflow: hidden;
}

.search-region {
  box-shadow:
    inset 0px 11px 8px -10px #8C8C8C,
    inset 0px -11px 8px -10px #8C8C8C;

  padding-left: 25px !important;
  padding-right: 25px !important;

  background-color: #FFFBE6;
  opacity: 1 !important;

  --mat-form-field-container-text-size: small;
  --mat-select-trigger-text-size: small;
  --mdc-filled-text-field-label-text-size: small;
}
