th {
  text-align: center;
}

td {
  position: relative;
  padding: 3px;
}

td.strikeout:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid black;
  width: 100%;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid black;
}

.mat-icon {
  vertical-align: middle;
}

.mat-icon:hover {
  background-color: antiquewhite;
  border-radius: 12px;
  border: solid 1px darkcyan;
}

.animated-area {
  overflow: hidden;
}
