/* You can add global styles to this file, and also import other style files */

body {
  height: 100vh;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}

.not-found {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  color: rgba(74, 74, 74, 0.98);
  text-align: center;
}

.clear-icon {
  margin-left: 10px;
  font-size: 25px;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.category-icon {
  height: 1.5em;
  object-fit: scale-down;
}

.full-width {
  width: 100%;
  max-width: unset;
}

.vertical-centered-text {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
}

.center-content {
  vertical-align: middle;
  align-items: center;
}

.hinted-field {
  box-shadow: 0 0 10px 20px lightpink;
}

.category-count {
  display: inline-block;
  padding: 3px;
  background-color: lightgoldenrodyellow;
  border-radius: 3px;
  text-align: center;
}
