/* You can add global styles to this file, and also import other style files */

body {
  height: 100vh;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}

.not-found {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  color: rgba(74, 74, 74, 0.98);
  text-align: center;
}

.clear-icon {
  margin-left: 10px;
  font-size: 25px;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.category-icon {
  height: 1.5em;
  object-fit: scale-down;
}

.full-width {
  width: 100%;
  max-width: unset;
}

.full-height {
  height: 100%;
  max-height: unset;
}

.full-box {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
}

.vertical-centered-text {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
}

.center-content {
  vertical-align: middle;
  align-items: center;
}

.category-count {
  display: inline-block;
  padding: 3px;
  background-color: lightgoldenrodyellow;
  border-radius: 3px;
  text-align: center;
}

.active-span {
  border-bottom: 1px dashed #3879d6;
  color: #3879d6;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 3px #1e1d16;
  }
}

@-moz-keyframes glowing {
  0% {
    -moz-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -moz-box-shadow: 0 0 3px #1e1d16;
  }
}

@-o-keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

.blink-button {
  -webkit-animation: glowing 700ms infinite;
  -moz-animation: glowing 700ms infinite;
  -o-animation: glowing 700ms infinite;
  animation: glowing 1s linear infinite;
  border: none;
}

.no-border {
  border: none;
}

.dlg-buttons-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: unset;
}
