<mat-dialog-content>
  <p mat-dialog-title>{{'Category.EditTitle' | translate}}</p>
  <mat-form-field
    style="width: 100%;"
  >
    <mat-label>{{'Category.Name' | translate}}</mat-label>
    <input
      #txtName
      matInput
      [(ngModel)]="category.category.name"
      (keydown.enter)="confirm()"
      style="width: 100%;"
    />
    <button
      *ngIf="category.category.name.trim().length > 0"
      class="clear-icon"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="category.category.name = ''"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <div class="container">
    <div class="row no-padding">
      <div class="col-sm-6 no-padding padding-bottom-20">
        <button mat-raised-button (click)="iconSave.click()">
          {{'Category.ChooseIcon' | translate}}
        </button>
        <input #iconSave hidden type="file" [(ngModel)]="category.newIcon" (input)="onFileSelected($event)">
      </div>
      <div class="col-sm-6">
        <p>
          {{category.newIcon === null ? '' : category.newIcon.name}}
        </p>
      </div>
    </div>
    <div class="row no-padding">
      <div class="col-12 no-padding">
        <mat-slide-toggle
          [(ngModel)]="category.hasNullIcon"
          (change)="toggleNullifyIcon()"
        >
          {{'Category.RemoveIcon' | translate}}
        </mat-slide-toggle>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="padding-bottom-20">
  <div class="col-4"></div>
  <div class="col-4 text-center no-padding">
    <button
      mat-raised-button
      color="primary"
      (click)="confirm()"
      [disabled]="category.category.name.trim() === ''"
    >
      {{'Main.Save' | translate}}
    </button>
  </div>
  <div class="col-4 text-center no-padding">
    <button
      mat-raised-button
      color="secondary"
      (click)="cancel()"
    >
      {{'Main.Cancel' | translate}}
    </button>
  </div>
</mat-dialog-actions>
