<ul class="list-group">
  <li >
    <app-category-search
      [search]="filter"
      (searchEvent)="searchCategories($event)"
    >
    </app-category-search>
  </li>

  <li class="nav-item" [class.active]="selectedCategory === null">
    <a class="nav-link"
       (click)="selectCategory(null)"
    >
      <div class="container no-margin no-padding">
        <div class="row no-margin no-padding">
          <div class="col-10">
            <span class="categories-all">
              {{'Category.All' | translate}}
            </span>
          </div>
          <div class="col-2">
            <span class="category-count">
              {{stat ? stat.nincomplete : 0}}
            </span>
          </div>
        </div>
      </div>
    </a>
  </li>

  <div class="line"></div>

  <div *ngIf="!categories || categories.length === 0">
    <p class="not-found">{{'Category.NotFound' | translate}}</p>
  </div>

  <li *ngFor="let category of categories"
      class="nav-item"
      [class.active]="selectedCategory !== null
      && selectedCategory.id === category.id">
    <app-category
      [category]="category"
      (editCategoryEvent)="editCategory($event)"
      (deleteCategoryEvent)="deleteCategory($event)"
      (selectCategoryEvent)="selectCategory($event)"
    ></app-category>
  </li>
</ul>
