.categories-all {
  width: 85%;
  display: inline-block;
  font-size: 16px;
  text-transform: none;
}

.nav-item:hover {
  border-radius: 5px;
  background-color: darkgrey;
}

li.active {
  -webkit-box-shadow: 0px 0px 5px 5px antiquewhite;
  -moz-box-shadow: 0px 0px 5px 5px antiquewhite;
  box-shadow: 0px 0px 5px 5px antiquewhite;
  background-color: antiquewhite;
}
